#39fbody {
	font-family: "Tahoma";
	min-width: 320px
}
.head{
	background-color:#688816;

}
.logo{
	margin-top: 50px;
}
.soc-icons{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
}
.soc-icons > div{
	width: 50px;
	height: 50px;
	background-color: #69f;
	border-radius: 10em;
	text-align: center;
	line-height: 60px;
	transition: all .5s ease;
}
.soc-icons > div:hover {
	opacity: .5;

}
i.fab{
	font-size: 30px;
	color:#000;  
}
ul.menu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: 100px;
	margin-bottom: 0;
	
}
ul.menu li{
	background-color: #688897;
	width: 130px;
	height: 50px;
	text-align: center;
	line-height: 50px;


}
ul.menu li a{
	font-size: 16px;
	color: #f5f9eb;
	text-decoration: none;

}
/*Content  середина сайта*/
main{
	margin-top: 50px;
}
article{
	border-bottom: 2px dashed grey;     /*пунктир серого цвета*/
	padding-bottom: 10px;
}
article:last-child{
	border-bottom: none;
}

article h2{
	text-align: center;
	margin-top: 20px;	
}
article p{
	font-size: 14px;
	margin-left: 10px;
}
a.readmore{
	margin-top: 50px;
	display: block; 
	width: 165px;
	height: 60px;
	background-color: #688816;
	color:#f5f9eb;
	text-align: center;
	line-height: 60px;
}

/*sidebar*/
aside{
	background-color:#9b9aae ;
	padding-top: 50px;
}
.widget{
	background-color:#688816;
	padding-top: 30px;
	margin-top: 50px;
}
.widget:first-child{
	margin-top: 0;
}

.widget-title{
	font-size: 22px;
	color: #f5f9eb;
	text-align: center;
}
.widget-spisok{
	list-style-type: none;
}
.widget-spisok li{
	position:relative;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;

}
.widget-spisok li:last-child{
	border-bottom: none;
}

.widget-spisok li::before {
	content: '\f02d';  /*код,взятый с инета "книжечки"*/
	position: absolute;
	top: 0;
	left: -20px;
	font-family: 'fontawesome';
	color:#f5f9eb;
}

.widget-spisok li a{
	color:#f5f9eb;
	display: block;
	margin-left: 10px;
}
.widget-spisok li a:hover {
	text-decoration: none;
}

/*footer*/
.footer{
	background-color:#000000;

}
.menu-footer{
	margin-top: 50px;
	list-style-type: none;
}
.menu-footer li a{
	color: #f5f9eb;
	font-size:16px;


}
.menu-footer li{
	position: relative;
	margin-top: 10px;
	color: #f5f9eb;

}
.menu-footer li::before {
	content: '\f02d';  /*код,взятый с инета "книжечки"*/
	position: absolute;
	top: 0;
	left: -20px;
	font-family: 'fontawesome';
	color:#f5f9eb;
}

.copy p {
	color:#f5f9eb;
	font-size: 14px;


}
.up{
	position: fixed;
	bottom: 0;
	right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #688816;
	text-align: center;
	line-height: 50px;
}

.up i{
	color: #f5f9eb;
}


/*Media*/

@media(max-width: 998px){
	il.menu.li{
		width: 100px;
	}
	ul.menu li a{
		font-size: 12px; 
	}
	article p {
		margin-left: 25px;
	}
}


@media(max-width: 768px){
	ul.menu{
		flex-direction: column;
		width: 200px;
		margin: 0 auto;
	}
	ul.menu.li{
		margin-top: 10px;
	}
}
header.soc-icons{
	justify-content: center;
}
header.soc-icons > div{
	margin-left: 10px;
}


/*стиль для обратной связи*/
/* Базовый стиль формы */
form {
    margin: 0 auto;
    max-width: 65%;
    padding: 30px 30px 6px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}
/* Поле сообщения */
textarea{
    background: rgba(255, 255, 255, 0.4); 
    width: 100%;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
    color:#fff;
    padding-left:25px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Поля ввода */
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;    
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}
input[type=submit] {
    cursor:pointer;
}
input.name {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:25px;
}
input.email {
    background: rgba(255, 255, 255, 0.4);
    padding-left:25px;
}
input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:25px;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
/* Стили для кнопки отправить */
.btn {
    width: 138px;
    height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}
.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }
.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #333333;
    background: #ffCC00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
    background: -moz-linear-gradient(top, #ffcc00, #ff6600);
    background: -ms-linear-gradient(top, #ffcc00, #ff6600);
    background: -o-linear-gradient(top, #ffcc00, #ff6600);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}
 /*конец стилей обратной связи*/